/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white: #ffffff;
  --black: #181818;
  --burnt-red: #c0452f;

  --h1: 10rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  color: var(--black);
  background: var(--white);
}