@import "./base.css";

#app {
  width: 100%;
  background-color: var(--background);
}

h2 {
  font-size: var(--h2);
  color: var(--header)
}

h3 {
  font-size: var(--h3);
  color: var(--text)
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}